#### This Exercise uses Pandas as a Key Component. Check it here before proceeding : https://www.w3schools.com/python/pandas/default.asp

In [6]:
# from google.colab import drive
# drive.mount('/content/drive')
# I am Running it locally, so I don't need to mount any drive

You are encouraged to play around with this set of code. Try removing some of the functions and seeing why they have been used (remove the `split('\n')` in the next cell and see why it is necessary)

import pandas as pd
with open('mnist_test.csv', 'r') as f:
    lines = f.read().split('\n') # split each line
    print(lines[:5])
    data_moons = [] # Define an empty list. We will append our values to this
for line in lines:
    data_moons.append(line.split(',')) # split each element
    data_moons[:5]

In [ ]:
import pandas as pd
with open('Moons_and_Planets.csv', 'r') as f:
    lines = f.read().split('\n') # split each line
    print(lines[:5])
    data_moons = [] # Define an empty list. We will append our values to this
    
for line in lines:
    data_moons.append(line.split(',')) # split each element
    data_moons[:5]

['# Name of Moon, Name of Planet, Diameter (km)', 'Moon,Earth,1737.1', 'Phobos,Mars,11.1', 'Deimos,Mars,6.2', 'Io,Jupiter,1818.1']

In [2]:
print(lines[:5])

['# Name of Moon, Name of Planet, Diameter (km)', 'Moon,Earth,1737.1', 'Phobos,Mars,11.1', 'Deimos,Mars,6.2', 'Io,Jupiter,1818.1']

In [3]:
data_moons = [] # Define an empty list. We will append our values to this
for line in lines:
    data_moons.append(line.split(',')) # split each element

In [5]:
data_moons[:50]

[['# Name of Moon', ' Name of Planet', ' Diameter (km)'],
 ['Moon', 'Earth', '1737.1'],
 ['Phobos', 'Mars', '11.1'],
 ['Deimos', 'Mars', '6.2'],
 ['Io', 'Jupiter', '1818.1'],
 ['Europa', 'Jupiter', '1560.7'],
 ['Ganymede', 'Jupiter', '2634.1'],
 ['Callisto', 'Jupiter', '2408.4'],
 ['Amalthea', 'Jupiter', '83.5'],
 ['Himalia', 'Jupiter', '67.0'],
 ['Elara', 'Jupiter', '43.0'],
 ['Pasiphae', 'Jupiter', '30.0'],
 ['Sinope', 'Jupiter', '19.0'],
 ['Lysithea', 'Jupiter', '18.0'],
 ['Carme', 'Jupiter', '23.0'],
 ['Ananke', 'Jupiter', '14.0'],
 ['Leda', 'Jupiter', '10.0'],
 ['Thebe', 'Jupiter', '49.3'],
 ['Adrastea', 'Jupiter', '8.2'],
 ['Metis', 'Jupiter', '21.5'],
 ['Callirrhoe', 'Jupiter', '4.3'],
 ['Themisto', 'Jupiter', '4.0'],
 ['Megaclite', 'Jupiter', '2.7'],
 ['Taygete', 'Jupiter', '2.5'],
 ['Chaldene', 'Jupiter', '1.9'],
 ['Harpalyke', 'Jupiter', '2.2'],
 ['Kalyke', 'Jupiter', '2.6'],
 ['Iocaste', 'Jupiter', '2.6'],
 ['Erinome', 'Jupiter', '1.6'],
 ['Isonoe', 'Jupiter', '1.9'],
 ['Praxidike', 'Jupiter', '3.4'],
 ['Autonoe', 'Jupiter', '2.0'],
 ['Thyone', 'Jupiter', '2.0'],
 ['Hermippe', 'Jupiter', '2.0'],
 ['Aitne', 'Jupiter', '1.5'],
 ['Eurydome', 'Jupiter', '1.5'],
 ['Euanthe', 'Jupiter', '1.5'],
 ['Euporie', 'Jupiter', '1.0'],
 ['Orthosie', 'Jupiter', '1.0'],
 ['Sponde', 'Jupiter', '1.0'],
 ['Kale', 'Jupiter', '1.0'],
 ['Pasithee', 'Jupiter', '1.0'],
 ['Hegemone', 'Jupiter', '1.5'],
 ['Mneme', 'Jupiter', '1.0'],
 ['Aoede', 'Jupiter', '2.0'],
 ['Thelxinoe', 'Jupiter', '1.0'],
 ['Arche', 'Jupiter', '1.5'],
 ['Kallichore', 'Jupiter', '1.0'],
 ['Helike', 'Jupiter', '2.0'],
 ['Carpo', 'Jupiter', '1.5']]

As you can see, this is not perfect; the diameter of the moons has been appended as a `string`, instead of a `float`. <br>
Fixing this is up to you! (*hint*: you can convert a string to a float using `float(<string>)`)

You will have to use a loop to access each row (nested loops here), and use indexing to access the elements you want.

### Your assignment...
...should you choose to accept it, will be the following:
1. Find the number of moons of each planet
2. Order the moons (along with their planets) according to their sizes

:Try to verify these from the Wikipedia link that we took the data from.

Q1. Find the number of moons of each planet

In [13]:
#Answer
planets = {}

for Data in data_moons[1:-1]:
    if Data[1] not in planets.keys():
        planets[Data[1]]  = [Data[0]]
    else:
        planets[Data[1]].append(Data[0])
    
print(planets.keys())

for planet in planets.keys():
    print(f"The moons of {planet} are: {', '.join(planets[planet])}")

for planet in planets.keys():
    print(f"The no of moons for {planet} : {len(planets[planet])}")

dict_keys(['Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])
The moons of Earth are: Moon
The moons of Mars are: Phobos, Deimos
The moons of Jupiter are: Io, Europa, Ganymede, Callisto, Amalthea, Himalia, Elara, Pasiphae, Sinope, Lysithea, Carme, Ananke, Leda, Thebe, Adrastea, Metis, Callirrhoe, Themisto, Megaclite, Taygete, Chaldene, Harpalyke, Kalyke, Iocaste, Erinome, Isonoe, Praxidike, Autonoe, Thyone, Hermippe, Aitne, Eurydome, Euanthe, Euporie, Orthosie, Sponde, Kale, Pasithee, Hegemone, Mneme, Aoede, Thelxinoe, Arche, Kallichore, Helike, Carpo, Eukelade, Cyllene, Kore, Herse, S/2010 J 1, S/2010 J 2, Dia, S/2016 J 1, S/2003 J 18, S/2011 J 2, Eirene, Philophrosyne, S/2017 J 1, Eupheme, S/2003 J 19, Valetudo, S/2017 J 2, S/2017 J 3, Pandia, S/2017 J 5, S/2017 J 6, S/2017 J 7, S/2017 J 8, S/2017 J 9, Ersa, S/2011 J 1, S/2003 J 2, S/2003 J 4, S/2003 J 9, S/2003 J 10, S/2003 J 12, S/2003 J 16, S/2003 J 23
The moons of Saturn are: Mimas, Enceladus, Tethys, Dione, Rhea, Titan, Hyperion, Iapetus, Phoebe, Janus, Epimetheus, Helene, Telesto, Calypso, Atlas, Prometheus, Pandora, Pan, Ymir, Paaliaq, Tarvos, Ijiraq, Suttungr, Kiviuq, Mundilfari, Albiorix, Skathi, Erriapus, Siarnaq, Thrymr, Narvi, Methone, Pallene, Polydeuces, Daphnis, Aegir, Bebhionn, Bergelmir, Bestla, Farbauti, Fenrir, Fornjot, Hati, Hyrrokkin, Kari, Loge, Skoll, Surtur, Anthe, Jarnsaxa, Greip, Tarqeq, Aegaeon, S/2004 S 7, S/2004 S 12, S/2004 S 13, S/2004 S 17, S/2006 S 1, S/2006 S 3, S/2007 S 2, S/2007 S 3, S/2009 S 1, S/2004 S 20, S/2004 S 21, S/2004 S 22, S/2004 S 23, S/2004 S 24, S/2004 S 25, S/2004 S 26, S/2004 S 27, S/2004 S 28, S/2004 S 29, S/2004 S 30, S/2004 S 31, S/2004 S 32, S/2004 S 33, S/2004 S 34, S/2004 S 35, S/2004 S 36, S/2004 S 37, S/2004 S 38, S/2004 S 39
The moons of Uranus are: Ariel, Umbriel, Titania, Oberon, Miranda, Cordelia, Ophelia, Bianca, Cressida, Desdemona, Juliet, Portia, Rosalind, Belinda, Puck, Caliban, Sycorax, Prospero, Setebos, Stephano, Trinculo, Francisco, Margaret, Ferdinand, Perdita, Mab, Cupid
The moons of Neptune are: Triton, Nereid, Naiad, Thalassa, Despina, Galatea, Larissa, Proteus, Halimede, Psamathe, Sao, Laomedeia, Neso, Hippocamp
The moons of Pluto are: Charon, Nix, Hydra, Kerberos, Styx
The no of moons for Earth : 1
The no of moons for Mars : 2
The no of moons for Jupiter : 79
The no of moons for Saturn : 82
The no of moons for Uranus : 27
The no of moons for Neptune : 14
The no of moons for Pluto : 5

Q2. Order the moons (along with their planets) according to their sizes

In [ ]:
# importing as a pandas data frame

df_moons = pd.read_csv('Moons_and_Planets.csv')
#print(df_moons.head()) 
#print(df_moons.columns)  

#sorting by diameter
df_moons_sorted = df_moons.sort_values(by=' Diameter (km)', ascending=False)
print(df_moons_sorted)

    # Name of Moon  Name of Planet   Diameter (km)
5         Ganymede         Jupiter         2634.10
87           Titan          Saturn         2575.50
6         Callisto         Jupiter         2408.40
3               Io         Jupiter         1818.10
0             Moon           Earth         1737.10
..             ...             ...             ...
58      S/2011 J 2         Jupiter            0.50
77      S/2003 J 9         Jupiter            0.50
54      S/2010 J 2         Jupiter            0.50
134        Aegaeon          Saturn            0.33
143     S/2009 S 1          Saturn            0.15

[210 rows x 3 columns]